.p-organizationchart-table {
    @apply border-spacing-0 border-separate my-0 mx-auto
}

.p-organizationchart-table > tbody > tr > td {
    @apply text-center align-top py-0 px-3
}

.p-organizationchart-node-content {
    /* @apply inline-block relative py-3 px-4 rounded-md
        border border-gray-400 dark:border-gray-400
        bg-surface-0 dark:bg-surface-900
        text-gray-700 dark:text-gray-700
        transition-colors duration-200 */
        @apply relative inline-flex py-3 px-4 rounded-md
        border border-gray-400 dark:border-gray-400
        bg-surface-0 dark:bg-surface-900
        text-gray-700 dark:text-gray-700
        transition-colors duration-200
}

.p-organizationchart-node-content:has(.p-node-toggler) {
    @apply pt-3 px-4 pb-5
}

.p-organizationchart-node-content.p-organizationchart-selectable-node:not(.p-highlight):hover {
    @apply bg-primary-50 text-gray-1000 dark:bg-primary-50 dark:text-gray-1000 border-gray-600 dark:border-gray-600
}

.p-organizationchart-selectable-node.p-highlight {
    @apply bg-highlight
}

/* .p-node-toggler {
    @apply absolute -bottom-3 left-1/2 -translate-x-1/2 z-20 select-none cursor-pointer w-10 h-10 
    no-underline rounded-full p-2
    inline-flex items-center justify-center transition-colors duration-200
    border border-gray-400 dark:border-gray-400
    bg-white text-primary hover:bg-primary-50 hover:text-surface-700
    dark:bg-white dark:text-primary dark:hover:bg-primary-50 dark:hover:text-primary 
    focus-visible:outline focus-visible:outline-1 focus-visible:outline-offset-2 focus-visible:outline-primary
} */

.p-node-toggler {
    @apply absolute -bottom-3 z-20 select-none cursor-pointer w-10 h-10 
    no-underline rounded-full p-2
    inline-flex items-center justify-center transition-colors duration-200
    border border-gray-400 dark:border-gray-400
    bg-white text-primary hover:bg-primary-50 hover:text-surface-700
    dark:bg-white dark:text-primary dark:hover:bg-primary-50 dark:hover:text-primary 
    focus-visible:outline focus-visible:outline-1 focus-visible:outline-offset-2 focus-visible:outline-primary;
    
    left: 50%;
    transform: translateX(-50%);
}

.p-node-toggler-icon {
    @apply relative top-px
}

.p-organizationchart-line-down {
    @apply my-0 mx-auto h-6 w-px bg-gray-400 dark:bg-gray-400
}

.p-organizationchart-line-right {
    @apply rounded-none border-gray-400 dark:border-gray-400
}

.p-organizationchart-line-left {
    @apply rounded-none border-e border-gray-400 dark:border-gray-400
}

.p-organizationchart-line-top {
    @apply  border-t border-gray-400 dark:border-gray-400
}

.p-organizationchart-selectable-node{
    @apply cursor-pointer
}

.p-organizationchart-lines :nth-child(1 of .p-organizationchart-line-left) {
    @apply border-e-0
}

.p-organizationchart-lines :nth-last-child(1 of .p-organizationchart-line-left) {
    @apply rounded-se-md
}

.p-organizationchart-lines :nth-child(1 of .p-organizationchart-line-right) {
    @apply border-s border-gray-400 dark:border-gray-400 rounded-ss-md
}
